@model tannomafia.Models.Tanno.TannoImagesViewModel

<div class="form-group row col-sm-4 offset-2">
    <div>
        @Model.ImageTitle
        @if (!Model.Image.Any())
        {
            <p>"No images are found"</p>
        }
    </div>
    <img class="card-img-top" src="@Model.Image" asp-append-version="true" />
</div>